

#main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  flex-direction: row;
  background-color: #f8f9fa;
  height: 100%;
}

#menu {
  margin: 0;
  display: inline-block;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

#menu h1 {
  font-weight: 600;
  font-family: 'Amiri', serif;
  text-align: center;
  margin: 20px;
}

#category h3 {
  text-align: center;
  margin-top: 20px;
  font-family: 'Amiri', serif;
}

#cat-divider {
  width: 30px;
  height: 2px;
  box-sizing: border-box;
  display: block;
  border: 1px solid black;
  margin: 20px auto;
}

#menu button {
  font-size: 12px;
  border-radius: 5px;
  width: 50px;
  padding: 2px;
}

label {
  margin-right: 20px;
}

.cartaside {
  position: -webkit-sticky;
  position: sticky;
  height: 100%;
}

.orderList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 400px; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  position: sticky;
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #fff;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 115px;
}


.title {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.item {
  display: flex;
  justify-content: flex-start space-between;
  align-items: center;
}

.itemName {
  width: 150px;
  text-align: left;
}

.quantity {
  width: 90px;
  text-align: center;
}

.quantity.value {
  font-weight: bold;
}

.quantity button {
  margin: 5px;
  border-radius: 5px;

}

.itemPrice {
  width: 60px;
  text-align: right;
  margin-right: 0;
}

p.deliveryPrice {
  margin-top: 10px;
}

p.totalPrice {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;

}

.checkout-button {
  margin-top: 10px;
  width: 110px;
  font-size: 15px;
  border-radius: 5px;
}

.checkout-button a {
  text-decoration: none;
}

.checkout-button a:hover {
  text-decoration: none;
  color: #071fba;
}

.orderList h1 {
  font-family: 'Amiri', serif;
  font-weight: 600;
}

.menubanner {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 370px;
  background-size: 100%;
  background-position: 50% 0px;
}
